{%  extends 'core/base.html'  %}

{%  block contenido  %}


<div class="container">

    <br>
    <h1 class="text-center"> Quiero un <span class="color-celular">Celular</span> </h1>
    <h2 class="text-center"><span class="text-muted tamaño">Nuevo Celular</span> </h2>
    
    <br>


</div>

<div class="container"> 
    <form action="" method="POST">

        {% csrf_token %}
        <table class="table table-bordered tabla" >

            {{ form.as_table }}

        </table>
        <br>

        <div class="container">

            <input type="submit" value="Guardar" class="btn btn-primary btn-sm " > 
        
            <input type="reset" value="Limpiar" class="btn btn-primary btn-sm ">

            

        </div>
        <br>
        
        

    </form>

</div>


<div class="container">
    
   {{ mensaje }}

</div>


{%  endblock  %}